{% extends 'base.html' %}
{% block title %}Delete Blog{% endblock %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">Delete Blog</h2>
                <p>Are you sure you want to delete?"{{ blog.title }}"?</p>
                <form method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Confirm deletion</button>
                    <a href="{% url 'blogs:blog_detail' blog.pk %}" class="btn btn-secondary">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}